@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Poppins:wght@100&display=swap");
/* Root*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Navbar */
.NavbarItems {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 70px;
  border-radius: 15px;
  padding: 0 30px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}
.navbarLogo h1 {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 50px;
}
.navbarMenu {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}
.navbarMenu li {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/*background image */
.Hero {
  width: 100%;
  height: 30%;
  position: relative;
}
img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}
.heroText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroText h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

/* bar recherche */

.search {
  display: flex;
  background-color: #ffffffce;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}
label {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: black;
  height: 30px;
}
button {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #4361ee;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

/* section Voyage Recemment */
.trip {
  margin: 4rem 6rem;
  color: black;
}
.triptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.triptext h1 {
  font-size: 3rem;
}
.tripCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 2rem;
}

.tripBox {
  background-color: #f2f2f2;
  padding: 20px;
}

.tripBox1 {
  background-color: #f2f2f2;
  padding: 20px;
}

.tripBox2 {
  background-color: #f2f2f2;
  padding: 20px;
}

.tripCard img {
  width: 100%;
  height: auto;
}

.tripBox h2 {
  margin-top: 10px;
}

.tripBox p {
  margin-top: 10px;
}

/*footer*/
.footer {
  padding: 4rem 6rem;
  background: black;
  color: white;
}
.top {
  display: flex;
  text-align: start;
  flex-direction: column;
  flex-wrap: wrap;
}
.socialmedia {
  margin-top: -3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.socialmedia a i {
  color: white;
  margin-left: 1rem;
  font-size: 2rem;
}

/* bar rechercher*/
.dataResult {
  display: none;
}
